@import url('https://fonts.googleapis.com/css?family=Lato');

body{
	font-family: 'Lato', sans-serif;
	padding top: 20px;
	line-height: 2;
}

.navbar {
	min-height: 50px;
	border-radius: 0;
	margin-bottom: 0;
	box-shadow: 0 2px 10px 0 ;
}

.navbar-inverse{
	background: #3399ff;
	border-color: #337ab7;

}
.navbar-inverse .navbar-nav>li>a {
    color: #080808;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 26.5px;
		padding-bottom: 0px;
		line-height: 0px;
		font-weight: bold;
		letter-spacing: 0px;
	}
}	

.glyphicon {
    position: relative;
    top: auto;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.div-gallery-feed{
	margin-bottom: 50px;

}

.carousel-inner{
	margin-top: 100px;
}

.title-gallery-feed{
	text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery-feed img {
	background-color: blue;
    margin-bottom: 30px;
    width: 100%;
}

.gallery-feed img:hover {
	filter:none;
}

.center{
	width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center
}
.more-gallery-feed, .read-more{
    color: #286090;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 2px solid #666;
    width: 200px;
}

.more-gallery-feed:hover, .read-more:hover {
	color: #blue;
	border: 2px solid #000;
	text-decoration: none;
}

@media (min-width: 768px){
	.container{
		max-width: 1024px;
	}
}

@media (max-width: 768px){
	.img-logo{
		width: 30px;
		height: auto;
	}

	.form-top{
		height: 45px;
		width: 100% !important;
	}
}


#email{
	width:50%;
	margin-left: auto;
	margin-right: auto;
}
.tengah{
	margin-top: 20px;
	text-align: center;
	background-color:#dcedc8; 
	margin-bottom: 20px;
}
#team {
	background: #0087e6;
	

}
#team img {
	width: 180px;
	border : solid 5px #fff;

}

.team-name {
	padding : 10px;
	color: #e3e3e3;
}

footer{
	margin-top: 10px;
	padding: 14px 0;
	background:#3399ff;
	color: white;
	font-weight: 500;
	} 
}